.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.app-container{
  background: #000;
}

.sel-holder {
  position: relative;
  min-width: 50%;
  display: inline-block;
}

.srch-btn {
  display: inline-block;
  margin: 0 10px;
}

.home-container {
    height: calc(100vh - 185px);
}

.home-content {
    width: 100%;
    text-align: center;
}

.btn.disabled, 
.btn:disabled{
  cursor: not-allowed;
}

.poke-img {
    max-width: 200px;
}

.poke-sldr {
    max-width: 200px;
}

.poke-card-container {
    border: 8px solid #facc48;
    border-radius: 10px;
    display: inline-block;
    margin-top: 25px;
    background: #fff;
}
.poke-details-container {
  border: 8px solid #facc48;
  border-radius: 10px;
  background: #fff;
}

.poke-card-header,
.poke-detail-header {
    padding: 10px;
    background: #facc48;
    color: #0c4a94;
    position: relative;
    text-align: left;
}

.poke-name {
    text-transform: uppercase;
    font-weight: 800;
    padding: 5px 0 0;
}

.poke-hp {
    position: absolute;
    top: 15px;
    right: 5px;
    background: #0c4a94;
    color: #facc48;
    padding: 5px;
    border-radius: 10px;
}
.poke-type {
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}

.slick-arrow.slick-prev:before,
.slick-arrow.slick-next:before {
    color: #000;
}

.slick-arrow.slick-prev:before {
    margin-left: 20px;
}

.slick-arrow.slick-next:before {
    margin-left: -40px;
}

.logo-holder {
    text-align: center;
    padding: 20px 0;
}

.logo-holder img{
  max-width: 40%;
}

.poke-card-container .poke-img-slider{
  padding: 0 15px;
}

.poke-detail-body .poke-img-slider {
    padding: 0 30px;
}

.srch-poke-card {
  float: left;
  margin: 15px;
  text-align: center;
}

.poke-stat {
  float: left;
  padding: 10px;
  margin: 5px;
  background: #0c4a94;
  border-radius: 10px;
  color: #facc48;
  font-weight: 500;
  text-transform: capitalize;
}

.poke-stats-header {
    font-size: 24px;
    font-weight: 800;
    background: #dc3545;
    border-radius: 10px;
    color: #fff;
    float: left;
    padding: 15px 10px;
    margin: 5px;
    text-transform: uppercase;
    transform: translateY(50%);
    position: relative;
}

.poke-stats-holder{
  float: left;
  width: 75%;
}

.poke-details-container .poke-details{
  margin: 10px auto;
}
